@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1e453e;
  --secondary-color: #2ecc71;
  --accent-color: #c9d681;
  --background-color: #ecf0f1;
}

button{
  background-color: var(--accent-color);
  color: black;
}

.card:not(:last-child) {
  border-right: 2px solid rgb(229, 225, 225);
  height: 150px;
  
}
